/* reset default, biar ga ada jarak minggir */
body{
  margin: 0;
  padding: 0;
}
/* bagian navbar */
.navbar-atas {
  margin: 16px 160px;
  display: flex;
  flex-direction: row;
}
.pencarian {
  display: flex;
  height: 56px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  background: #f5f5f5;
  margin-left: 32px;
  max-width: 333px;
  margin-right: 32px;
}
.menu-navbar a {
  color: black;
  text-decoration: none;
  margin-right: 52px;
}
.menu-navbar {
  text-align: center;
  align-items: center;
  display: flex;
}
.love {
  margin-left: 32px;
  text-align: center;
  align-items: center;
  display: flex;
}
.love .satu {
  margin-right: 24px;
  text-align: center;
  align-items: center;
  display: flex;
}
.dua {
  margin-right: 24px;
  text-align: center;
  align-items: center;
  display: flex;
}

.navbar-bawah {
  background-color:#2E2E2E;
  padding: 8px 160px;
  display: flex;
}
.navbar-bawah a{
  color: #fff;
  text-decoration: none;
  /* margin-right: 40px; */
}
.nav-1 {
  display: flex;
  flex-direction: row;
}
.nav-1-1,
.nav-1-2,
.nav-1-3,
.nav-1-4,
.nav-1-5,
.nav-1-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}
.garis {
  width: 1px;
height: 24px;
background-color: #fff;
margin:0px 20px;
}
/* .nav-1-2 {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.garis{
  width: 1px;
  height: 24px;
  background-color: #fff;
  margin:0px 20px;
}
/* .nav-1-3 {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.garis {
  width: 1px;
  height: 24px;
  background-color: #fff;
  margin:0px 20px;
}
/* .nav-1-4 {
  display: flex;
  align-items: center;
  justify-content: center; 
} */
.garis {
  width: 1px;
  height: 24px;
  background-color: #fff;
  margin:0px 20px;
}
/* .nav-1-5 {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.garis {
  width: 1px;
  height: 24;
  background-color: #fff;
  margin: 1px 10px;
}
/* .nav-1-6 {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .banner {
  float: right;
  padding: 160px 160px;
} */
.banner {
  /* memanggil display */
  display: flex;
  /* flex direction untuk merubah struktur baris/kolom */
  flex-direction: row-reverse;
  /* membuat ke tengah secara horizontal */
  justify-content: center;
  /* membuat ke tengah sercara vertikal */
  align-items: center;
  /* memberikan jarak diantara kamu dan dia */
  gap: 100px;
  padding: 73px;
  background:linear-gradient(91deg, #211C24 0.64%, #211C24 101%);
  color: #909090;
}
h1 {
font-family: 'Roboto', sans-serif;
font-size: 96px;
font-style: normal;
font-weight: 200;
line-height: 72px; /* 75% */
letter-spacing: -0.96px;
color: #fff;

}
h1 .bold {
  font-family: 'Roboto', sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.96px;
}
.banner-deskripsi .cta {
display: inline-block;
padding: 1rem 5rem;
border-radius: 6px;
background-color: linear-gradient(91deg, #211C24 0.64%, #211C24 101%);
color: #fff;
outline-color: #fff;
outline-style: solid;
text-decoration: none;
margin-top: 24px;
}
/* bagian playstation */
.playstation {
  float: left;
  width: 513px;
  height: 343px;
  margin-right: 10px;
  color: #909090;
}
.banner-bawah.h2 {
  text-align: center;
}
/* jangan lupa spesifik yah */
/* refensi : https://www.petanikode.com/css-selektor/ */
/* refensi : https://www.w3schools.com/css/css_pseudo_classes.asp */
.banner-bawah h2 {
  color: #000;
  font-family: 'roboto', sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.banner-bawah p {
  color: #909090;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.isi {
  text-align: justify;
  padding: 100px;
}

/* jangan lupa komentar untuk setiap gabungin content yah baru */
.hero {
  width: 50%; /* harus atur width 100% agar memenuhi layar */
  display: flex;
  align-items: center; /* ini untuk buat dia ke tengah secara vertikal */
  gap: 50px; /* ini untuk memberikan jarak di tengah antara img dan .desc */
  background-color: #EDEDED;

}
/* img harus spesifik gek adi yah😊 */
.hero img {
  width: 100%;
  max-width: 300px;
}
.desc {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  padding-left: 48px;
  padding-right: 48px;
}
.hero h3 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.hero.p {
  color: #909090;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
/* visio */
.vision {
width: 50%;
}
.vision img {
  width: 100%;
  max-width: 300px;
}
.vision {
  width: 50%;
  display: flex;
  align-items: center; 
  gap: 50px;
  background-color: #353535;;
}
.vision h4 {
  color: #fff;
  font-family: 'roboto' sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.vision p {
  color: #909090;
  font-family: 'roboto' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.vision .text.pr {
  color: var(--main-white, #FFF);
font-family: 'roboto'sans-serif;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: 40px;
} 

/* banner tengah adalah pemnbungkus wrap kiri dan kanan */
.banner-tengah {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.banner-bawah {
  display: flex;
  flex-direction: row;
}
.wrap-kiri{
  width: 50%;/*pasti lupa ngubah ya*/  
  display: flex;
  flex-direction: column;
}
.wrap-kiri-bawah {
  display: flex;
  flex-direction: row;
}
.wrap-kanan {
  width: 50%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding-top: 44px;
  background-color:#EDEDED;;
}
.wrap-kanan img {
  width: 50%;
  max-width: 450px;
}
.wrap-kanan .tulisan {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; /*agar dia vertikal */
  padding-left: 56px;  
}
.wrap-kanan .tulisan h5 {
  color: #000;
  font-family: 'roboto' sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 200;
  line-height: 56px;
  margin: 0px;
}
.wrap-kanan .tulisan .air {
  color: #000;
  font-family:  'roboto' sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.wrap-kanan .tulisan p {
  color: #909090;
  font-family: 'roboto' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 16px;
}
.tulisan .blok {
  display: inline-block;
  padding: 1rem 5rem;
  border-radius: 6px;
  background-color: linear-gradient(91deg, #211C24 0.64%, #211C24 101%);
  color: #000;
  outline-color: #000;
  outline-style: solid;
  text-decoration: none;
  margin-top: 16px;
}